.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
